<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4">
    <%= render "shared/left_menu" %>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-8">
    <% @achivements.each do |achivement| %>
      <div class="habit" style="font-size: 16px;border-bottom: 1px solid #f0f0f0;padding: 13px 0px;">
        <%= check_box_tag :archivement, false, achivement.completed, class: "habit-check", "data-id" => achivement.id, "data-memo-id" => achivement.try(:memo).try(:id), "data-habit-id" => achivement.habit.id %>
        <span class="<%= achivement.completed == true ? "habit__checked" : "" %>" style="margin-left:7px;">
          <%= link_to achivement.habit.name, edit_habit_path(achivement.habit.id) %>
        </span>
        <span style="margin-left:5px;font-size:14px;">
          <%= link_to "メモ", "#",  class: "habit__memoLink" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<%= render "today_habits/entry_memo_modal" %>
