<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4">
    <%= render "shared/left_menu" %>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-8">
    <% @achivements.each do |achivement| %>
      <div class="habit" style="font-size: 16px;border-bottom: 1px solid #f0f0f0;padding: 13px 0px;">
        <label>
          <%= check_box_tag :archivement, false, achivement.completed, class: "habit-check", "data-id" => achivement.id, "data-memo-id" => achivement.try(:memo).try(:id), "data-habit-id" => achivement.habit.id %>
          <span class="habit-check--custom"></span>
          <span class="<%= achivement.completed == true ? "habit__checked" : "" %>" style="margin-left:7px;">
            <%= link_to achivement.habit.name, edit_habit_path(achivement.habit.id) %>
          </span>
        </label>
        <%= link_to "メモ#{achivement.habit.memos.length}件", "#", class: "memo__count", style: "font-size: 14px;", "data-habit-id" => achivement.habit.id %>
        <div style="font-size: 12px;">
          目的: <%= achivement.habit.purpose %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "habits/memo_list_modal" %>
