<h1>習慣編集</h1>
<%= form_for(@habit) do |f| %>
  <div>
    <%= f.text_area :name, class: "form-control" %>
  </div>
  <div class="form-inline" style="margin-top: 10px;">
    <%= f.label :start_date, value: "開始日付" %>
    <%= f.text_field :start_date, class: "form-control" %>
    <%= f.label :end_date, value: "終了日付"  %>
    <%= f.text_field :end_date, class: "form-control" %>
  </div>
  <div style="margin-top: 10px;margin-bottom:10px;">
    <% @days.each do |day| %>
      <% # labelとcheckのnameを一緒にする %>
      <% #多:多の複数チェックボックス %>
      <% #http://ruby-rails.hatenadiary.com/entry/20150113/1421149061 %>
      <% habit_day = HabitDay.find_by(habit_id: @habit.id, day_id: day.id) %>
      <%= check_box_tag 'habit[day_ids][]', day.id, habit_day.try(:checked), id: "habit_day_ids_#{day.id}" %>
      <%= label_tag "habit[day_ids][#{day.id}]", day.name %>
    <% end %>
  </div>
  <%= f.submit "送信", class: "btn btn-primary" %>
<% end %>
